* {
    box-sizing: border-box;
    margin: 0;
}

.body {
    font-family: Roboto, sans-serif;
    margin: 0;
}
.main_container {
    width: 100%;
    max-width: 1219px;
    margin-top: 20px;
    margin-bottom: 18px;
    padding-left: 55px;
    padding-right: 55px;
    margin-left: auto;
    margin-right: auto;
}

.main_container:after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    float: left;
}

.nav_container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_header {
    float: right;
}

.nav_ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.nav_li {
    display: inline-block;
}

.nav_a {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;

        text-align: center;

        color: #FFFFFF;
        text-decoration: none;
}

.header_main {
    height: 84px;
    background-color: #007765;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.hero {
    background-image: url(./img2/intra.png);
    background-size: cover;
}

/* .hero {
    margin: 0 auto;
    background-image: url(./img2/intra.png);
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 403px;
    /* margin-top: 84px;
    padding-top: 160px;
    padding-bottom: 160px; */
/* } */


/* .main_container2 {
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;
}
.main_title {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 270px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    color: #FFFFFF;
}

.problem {
    margin: 0 auto;
    background: #EEEEEE;
    height: 700px;
}

.main_title2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 1px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    color: black;
} */



.image {
    position: relative;
    width: 1219px;
    background-size: cover;
    background-position: center;
}

h2 {
    position: absolute;
    left: 300px; 
    top: 250px;
    width: 100%;
    color: #fff;
    font-size: 30px;
    line-height: 55px;
}


.img2 {
    background: #EEEEEE;
}


.piper {
    width: 1219px;
    height: 83px;
    left: 0px;
    top: 244px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 72px;
line-height: 84px;
text-align: center;

color: #FFFFFF;
}

.problem {
    width: 1107px;
    height: 75px;
    left: 55px;
    top: 535px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    /* identical to box height */
    
    text-align: center;
    
    color: #007765;
}

.ben {
    width: 1110px;
height: 488px;
left: 55px;
top: 626px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 37px;

color: #000000;
}