body {
    margin: 0;
    /* display: block;
    flex-direction: column; */
}

* {
    box-sizing: border-box;
}

.headercon {
    left: 0; right: 0; /* Вся ширина */
    top: 0; 
    position: fixed;
    width: 100%;
    height: 72px;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.main_con {
    height: 100%;
    padding-left: 180px;
    padding-right: 180px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.nav_con {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {

    float: left;
}

.nav_header { 
    
    margin: 0 20px 0 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;


    align-items: center;
    text-align: center;

    color: #1D1D1D;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 5px 20px;
    float: right;
}

.right_nav {
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.klogo {
    margin: 25px 15px 0 0;
}

.enter {
    text-decoration: none;
}


/* SEARCH */

.search {
    margin-top: 250px;
}
.main {
    height: 100%;
    padding-left: 180px;
    padding-right: 180px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    min-height: 1000px; /* Минимальная высота */
    margin-top: 72px; /* Отступ сверху */
    display: block; /* Для IE */

}

.button_search {
    margin-top: 250px;
    /* font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px; */
    width: 100%;
    border: none;
    outline: none;
    opacity: 0.5;
    background: transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #626262;

}

  input {
      width: 100%;
    Border: none; outline: none;
  }