.block1 {
    width: 70%;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: Arial;
    margin-top: 1.5em;
}

h1 {
    font-size:32px;
}

.table1 {
    margin: 0 auto;
    border: 1px solid black;
}

th {
    text-align:center;
    border: 1px solid black ;
}

td {
    border: 1px solid black ;
}

.sign {
    float:right;
}

.sign figcaption {
    font-style:italic;
    margin: 0 auto;
}

.tablel {

}

.tdop {
    font-weight: bold;
    text-align: center;
}